<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>予約削除</title>
        <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/myPage.css">
    </head>
    <body>

        <div class="delete-page-content">

            <div class="delete-page-title">
                <h3>予約を取り消しますか?</h3>
            </div>

            <div class="delete-btn-box">
                <div class="btn delete-btn"><a href="/delete">取り消す</a></div>
                <div class="btn"><a href="/myPage">マイページに戻る</a></div>
            </div>

        </div>

    </body>
</html>