body {
    background-image: url(/img/top-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.top-wrapper {
    height: 658px;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
}

.top-content {
    position: relative;
    top: 330px;
    text-align: center;
}

.top-content h1 {
    color: rgb(194, 177, 91);
    font-size: 3.5rem;
    font-family: 'Yu Mincho Light','YuMincho','Yu Mincho','游明朝体','ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;
}

.top-btn {
    margin-top: 20px;
}

