body {
    background-color: rgba(255, 243, 225, 0.466);
    background-image: url(/img/top-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
}

.main-wrapper {
    width: 100%;
    margin: 20% auto ;
    position: static;
    z-index: 1;
}

.top-content {
    text-align: center;
}

.top-content h2 {
    color: rgb(0, 0, 0);
    font-size: 2.5rem;
    font-family: 'Yu Mincho Light','YuMincho','Yu Mincho','游明朝体','ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;
}

.top-content p {
    margin-top: 2%;
    font-weight: bold;
    font-size: 1.25rem;
}

.plan-btn-content {
    margin-top: 2%;
}

.plan-btn {
    text-align: center;
}

.plan-btn a {
    background-color: rgb(235, 197, 148);
    border: 1px rgb(209, 160, 68) solid;
    border-radius: 10px;
    padding: 5px 10px;
    box-shadow: 0 5px 5px 0 rgba(54, 41, 20, 0.801);
}

.plan-btn a:active {
    position: relative;
    top: 5px;
    box-shadow: none;
}

